/* Fonts */
@import url('https://stockfont.org/?736a681b23134a54ac0efc5c189e80d711964e944d1dc48be781cec97380dbd8');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {margin: 0; padding: 0;}
a {text-decoration: none;}
html {font-family: 'Open Sans', sans-serif;}

body {
  background-color: #ffffff;
  display: block;
}

header {
  background: linear-gradient(to bottom, #58f5f1 0%,#92f8ca 20%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58f5f1', endColorstr='#92f8ca',GradientType=0 ); /* IE6-9 */
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100px;
  position: absolute;
  padding-bottom: 2em;
}

/* logo */
#logo {
  width: 150px;
  display: inline-block;
  padding: 1em;
  margin: 0;
}

/* Dashboard navigation bar text */ 
#ul-navbar-left{
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  font-size: 1.2em;
  color: #ffffff;
  letter-spacing: 0.05em;
  font-family: 'Open Sans', sans-serif;
  line-height: 2em;
}

/* Dashboard navigation bar */ 
#navigation-left {
  height: 100%;
  width: 20%;
  position: absolute;
  top: 127px;
  left: 0;
  background-color: #3a3f48;
  overflow: auto;
  padding-top: 50px;
}

/* Navbar left items text*/
.nl-item {
  font-size: 1.2em;
  color: #ffffff;
  letter-spacing: 0.05em;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: 700;
  padding: 50px;
}

.topbar-menu {

}

/* ul */
.topbar-menu-list {
  display: inline-block;
}

/* li */
.topbar-menu-items {
  float: left;
  padding-top: 1em;
  padding-right: 3em;
  list-style-type: none;
}

/* Topbar menu items text */
.tm-item {
  font-size: 1.5em;
  color: #ffffff;
  letter-spacing: 0.05em;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  font-weight: 700;
}

/* li */
#topbar-menu-logout {
  margin: 0;
  float: right !important;
  padding-top: 1em;
  padding-right: 3em;
  list-style-type: none;
}

/* Topbar menu logout text */
#tm-logout {
  font-size: 1.5em;
  color: #ffffff;
  letter-spacing: 0.05em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

footer {
  height: 30px;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background-color: #2a2d33;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.content {
  width: 100%;
  height: 100%;
  color: #3a3f48;
  right: 0;
}

.main-panel {
  height: 100%;
  width: 80%;
  position: absolute;
  z-index: 1;
  top: 127px;
  right: 0;
  background-color: #184494;
  padding-top: 50px;
}

.dashboard-panels {
  border-radius: 15px;
  text-align: center;
  /*width: 100%;*/
  height: 250px;
  background-color: rgb(150, 150, 150);
  margin: 10px;
  padding: 10px;
}
